In [10]:
import numpy as np 
import pandas as pd
import multiprocessing as mp
from multiprocessing import Pool
from numba import jit
import json

In [11]:
df = pd.read_csv('datelets\datalet2.csv',index_col=False)

In [12]:
headers = []

for i in range(df.shape[1]):
    headers.append('period{}'.format(i+1))
 
df.columns = headers    

display(df)

         period1  period2
0            3.0      2.0
1            2.0      0.0
2            0.0      2.0
3            2.0      1.0
4            1.0      1.0
...          ...      ...
9999995      2.0      0.0
9999996      0.0      3.0
9999997      3.0      2.0
9999998      2.0      2.0
9999999      2.0      0.0

[10000000 rows x 2 columns]

In [13]:
df['ydata'] = df['period2']
output = pd.pivot_table(data=df, index=['period1'], columns=['period2'], values='ydata', aggfunc='count')
display(output)

period2     0.0     1.0     2.0     3.0
period1
0.0      625182  624504  625897  624858
1.0      624127  622735  624597  624342
2.0      625647  623502  625684  626414
3.0      625486  625060  625069  626896

In [14]:
#This is a the stochastic markovchain that tells you, if you start at a perticular MEV state, where might you end up. the matrix is transposed to be listed in the traditional shape
#of a markov chain transition matrix

tmatrix = output.div(df.shape[0]).transpose(copy=False)

display(tmatrix)

period1       0.0       1.0       2.0       3.0
period2
0.0      0.062518  0.062413  0.062565  0.062549
1.0      0.062450  0.062274  0.062350  0.062506
2.0      0.062590  0.062460  0.062568  0.062507
3.0      0.062486  0.062434  0.062641  0.062690