In [8]:
import numpy as np 
import pandas as pd
import multiprocessing as mp
from multiprocessing import Pool
from numba import jit
import json

In [9]:
df = pd.read_csv('../datelets/datalet2.csv',index_col=False)

In [10]:
headers = []

for i in range(df.shape[1]):
    headers.append('period{}'.format(i))
 

df.columns = headers    

display(df)

         period0  period1
0            3.0      2.0
1            2.0      0.0
2            0.0      2.0
3            2.0      1.0
4            1.0      1.0
...          ...      ...
9999993      3.0      3.0
9999994      3.0      2.0
9999995      2.0      0.0
9999996      0.0      3.0
9999997      3.0      2.0

[9999998 rows x 2 columns]

In [36]:
counts = {}
for x in range(len(df['period0'].value_counts())):
    counts['{}.0'.format(x)]= df['period0'].value_counts()[x]
    
print(counts)

{'0.0': 2500441, '1.0': 2495801, '2.0': 2501245, '3.0': 2502511}

In [43]:
df['ydata'] = df['period1']
output = pd.pivot_table(data=df, index=['period0'], columns=['period1'], values='ydata', aggfunc='count')
display(output)

period1     0.0     1.0     2.0     3.0
period0
0.0      625182  624504  625897  624858
1.0      624127  622735  624597  624342
2.0      625646  623502  625683  626414
3.0      625486  625060  625069  626896

2.0

In [83]:
#This is a the stochastic markovchain that tells you, if you start at a perticular MEV state, where might you end up. the matrix is transposed to be listed in the traditional shape
#of a markov chain transition matrix

tmatrix = output.transpose(copy=False)

print(counts['1.0'])

for x in range(len(counts)):
    tmatrix[x] = (tmatrix[x] / counts['{}.0'.format(x)])

display(tmatrix)

2495801

period0       0.0       1.0       2.0       3.0
period1
0.0      0.250029  0.250071  0.250134  0.249943
1.0      0.249758  0.249513  0.249277  0.249773
2.0      0.250315  0.250259  0.250149  0.249777
3.0      0.249899  0.250157  0.250441  0.250507